* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.cart-back {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #33333348;
}

.cart {
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    max-width: 90%;
    height: 500px;
    background-color: white;
    width: 400px;
}

.ajeitar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.cart-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    /* text-2xl */
    margin-bottom: 0.5rem;
    /* mb-2 */
}
.remove-from-cart-btn {
    background-color: #ff2e2e;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
}
.cart-items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    overflow: auto;
    margin-bottom: 0.5rem;
    /* mb-2 */
    flex-direction: column;
}

.cart-total-text {
    font-weight: bold;
}

.address-label {
    font-weight: bold;
}

.address-input {
    width: 100%;
    border: 2px solid #000;
    /* border-2 */
    padding: 0.25rem;
    /* p-1 */
    border-radius: 0.25rem;
    /* rounded */
    margin: 0.25rem 0;
    /* my-1 */
}

.address-warn {
    color: #f56565;
    /* text-red-500 */
    display: none;
    /* hidden */
}

.cart-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.25rem;
    /* mt-5 */
    width: 100%;
}
.title {
    text-align: center;
    margin-top: 40px ;
}
.close-modal-btn {
    cursor: pointer;
    /* Estilo para o botão "Fechar" */
    background-color: #d65454;
    /* bg-green-500 */
    color: white;
    /* text-white */
    padding: 0.25rem 1rem;
    /* px-4 py-1 */
    border-radius: 0.25rem;
    /* rounded */
    border: none;
}

.checkout-btn {
    cursor: pointer;
    background-color: #48bb78;
    /* bg-green-500 */
    color: white;
    /* text-white */
    padding: 0.25rem 1rem;
    /* px-4 py-1 */
    border-radius: 0.25rem;
    /* rounded */
    border: none;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    background-color: #444;
    color: #fff;
}

.nav-bar {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.nav-bar button {
    background-color: #303030;
    color: white;
    border: none;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

nav a {
    color: #fff;
}

.container {
    margin: 40px auto;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 3%;
    grid-row-gap: 20px;
}

.descricao-produto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
    text-align: center;
    flex-direction: column;
}

.descricao-produto p:nth-child(3) {
    font-weight: bold;
}
.container-item {
    display: flex;
    align-items: center;

    width: 100%;
    justify-content: space-between;
}
.container-item div p:nth-child(1), p:nth-child(3) {
    font-weight: bold;
}
.product {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    gap: 1rem;
    border: 1px solid #ddd;
    padding: 1em;
    background-color: #fff;
}

.product img {
    transition: all .3s;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.btn-comprar {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    margin-top: 10px;
    cursor: pointer;
    background-color: #444;
    border: none;
    border-radius: 10px;
    color: white;
    transition: all .3s;
}

.btn-comprar:hover {
    transform: scale(1.05);
}

.product img:hover {
    transform: scale(1.04) rotate(-2deg);
}

.product h2 {
    margin-top: 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em 0;
    width: 100%;
    bottom: 0;
}

footer div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

footer div p:nth-child(1) {
    font-weight: bold;
    font-size: 20px;
}

.nav-redes a {
    color: white;
}

.nav-redes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.nav-redes i {
    font-size: 20px;
}

